@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/placeholders" as *;

$card-width: 286px; // Mobile
$card-height: 157px; // Mobile

.front-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @extend %card-shape;
  
  padding: 20px; // Mobile

  @include card-background("../../assets/bg-card-front.png");

  &__logo {
    width: 54px; // Mobile
  }

  &__number {
    margin-bottom: 17px; // Mobile

    font-size: 18px; // Mobile
    font-weight: 500;
    letter-spacing: 2.2px; // Mobile

    color: $color-main;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__owner {
    @extend %card-small-text;
    text-transform: uppercase;
  }

  &__expiration {
    @extend %card-small-text;
  }
}