@mixin card-background($url) {
  background-image: url($url);
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1260px) {
    @content;
  }
}
