@use "./colors" as *;
@use "./variables" as *;

%card-shape {
  width: $card-width; // Mobile
  height: $card-height; // Mobile
  border-radius: 6px; // Mobile
}

%card-small-text {
  font-size: 9px; // Mobile
  font-weight: 500;
  letter-spacing: 1.3px; // Mobile
  color: $color-main;
}
