@use "./colors" as *;
@use "./variables" as *;
@use "./mixins" as *;

%card-shape {
  width: $card-width;
  height: $card-height;
  border-radius: 6px;

  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));

  @include onTablet {
    width: $card-width--tablet;
    height: $card-height--tablet;
    border-radius: 8px;
  }

  @include onDesktop {
    width: $card-width--desktop;
    height: $card-height--desktop;
    border-radius: 10px;
  }
}

%card-small-text {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: $color-main;

  @include onTablet {
    font-size: 11px;
    letter-spacing: 1.6px;
  }

  @include onDesktop {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
