* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eee;
}

input {
  padding: 0;
  outline: none;
  border: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}




