@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/placeholders" as *;

.back-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @extend %card-shape;

  padding-right: 37px;
  
  @include onTablet {
    padding-right: 44px;
  }

  @include onDesktop {
    padding-right: 50px;
  }

  @include card-background("../../assets/bg-card-back.png");

  &__cvc {
    @extend %card-small-text;
  }
}
