@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

%input-text {
  font-size: 18px;
  font-weight: 500;
  color: $color-dark-purple;
}

.card-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 11px;

  @include onTablet {
    column-gap: 20px;
  }

  &__section {
    grid-column: 1 / -1;
    position: relative;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 26px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 9px;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 15px;
    color: $color-dark-purple;
  }

  &__input-wrapper {
    height: 45px;
    padding: 1px;

    border-radius: 8px;
    background: $color-light-gray;

    &:focus-within {
      background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
    }

    &--invalid {
      background: $color-error;

      &:focus-within {
        background: $color-error;
      }
    }
  }

  &__input {
    height: 43px;
    width: 100%;
    padding-left: 16px;

    border-radius: 7px;

    background: $color-main;

    @extend %input-text;

    &::placeholder {
      @extend %input-text;
      opacity: 0.25;
    }
  }

  &__error {
    position: absolute;

    grid-column: 1 / -1;
    // margin-top: 3px;

    font-size: 12px;
    font-weight: 500;
    color: $color-error;
  }

  &__date-wrapper {
    grid-column: 1 / 2;
    position: relative;
    margin-bottom: 28px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__date-inputs {
    display: flex;
    gap: 8px;

    @include onTablet {
      gap: 10px;
    }
  }

  &__cvc-wrapper {
    position: relative;
  }

  &__btn {
    grid-column: 1 / -1;

    @extend %main-button;
  }
}
