@use "./styles/mixins" as *;

:root {
  font-family: 'Space Grotesk', sans-serif;
}

.payment-section {
  display: flex;
  align-items: center;

  min-height: 100vh;
  padding: 0 16px;

  background-image: url("./assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-position: top center;

  @media (orientation: landscape) {
    padding: 50px 0;
  }

  @include onDesktop {
    background-image: url("./assets/bg-main-desktop.png");
    background-size: auto 100%;
    background-position: left;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    margin: 0 auto;
    width: 100%;
    max-width: 375px;

    @include onTablet {
      max-width: 500px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;

      max-width: 1110px;
    }
  }

  &__cards {
    position: relative;

    height: 250px;
    width: 100%;

    @include onTablet {
      height: 320px;
    }

    @include onDesktop {
      grid-column: 1 / 7;

      height: 530px;
    }
  }

  &__front-card {
    position: absolute;
    bottom: 0;

    @include onDesktop {
      top: 0;
    }
  }

  &__back-card {
    position: absolute;
    right: 0;

    @include onDesktop {
      bottom: 0;
    }
  }

  &__form-wrapper {
    @include onDesktop {
      grid-column: 8 / 12;
    }
  }
}
